doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Surfing magazine
        link(rel='stylesheet' href='css/reset/reset.css')
        link(rel='stylesheet' href='css/common.css')
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/media/media.css' media='all and (max-width:1440px)')
        link(rel='stylesheet' href='css/fonts/fonts.css')
    body
        include ../blocks/01-header/header-pug/header
        include ../blocks/02-quote/quote-pug/quote
        include ../blocks/03-article-and-video/article-and-video-pug/article-and-video
        include ../blocks/04-surfboards-shop/surfboards-shop-pug/surfboards-shop
        //include ../blocks/05-articles/articles-pug/articles
        //include ../blocks/06-subscribe/subscribe-pug/subscribe
        //include ../blocks/07-contacts/contacts-pug/contacts
        //include ../blocks/08-footer/footer-pug/footer