section.contacts
    div.contacts__content
        div.contacts__image
            img(src='images/contacts/contacts-img.jpg')
        div.contacts__camp-address
            p.contacts__hat Our camp
            p.contacts__text CA 91932,
                | USA Imperial Beach
                br
                | 560 Silver Strand Blvd
            button.contacts__button Get in touc
                |
                span.contacts__button-last-letter h