footer.footer
    section.footer__content
        a(href='#').footer__logo
            img(src='images/logo.png')
        nav.footer__menu
            a.footer__menu-link(href='#') Stories
            a.footer__menu-link(href='#') Events
            a.footer__menu-link(href='#') Places
            a.footer__menu-link(href='#') Boards
        div.footer__social
            a(href='#').footer__social-link.social-link-tumblr
                img(src='images/icons/tumblr.png')
            a(href='#').footer__social-link.social-link-twitter
                img(src='images/icons/twitter.png')
            a(href='#').footer__social-link.social-link-vimeo
                img(src='images/icons/vimeo.png')