/*------------------------------------------------------ HEADER ------------------------------------------------------*/
@media all and (max-width: 1325px) {
    .header__nav {
        margin-left: 91px;
    }
    .header__aside {
        padding: 0 2.6%;
    }
}
@media all and (max-width: 1305px) {
    .header__nav {
        margin-left: 96px;
    }
    .header__aside {
        flex-direction: column-reverse;
        padding: 0 1.6%;
    }
    .header__decor-text {
        display: none;
    }
}
@media all and (max-width: 1285px) {
    .header {
        padding-top: 20px;
        padding-bottom: 72.5px
    }
    .header__logo-and-nav {
        padding-bottom: 20px;
    }
    .header__nav {
        margin-left: 6.3%;
    }
}
@media all and (max-width: 1270px) {
    .header__nav {
        margin-left: 116px;
    }
    .header__slider {
        top: 97%;
        left: 2.1%;
    }
    .header__aside {
        display: none;
    }
}
@media all and (max-width: 1225px) {
    .header__nav {
        margin-left: 91px;
    }
    .header__text {
        top: 32%;
    }
    .header__slider {
        top: 96%;
        left: 2.1%;
    }
    .header__image {
        width: 915px;
    }
    .header__aside {
        display: flex;
        flex-direction: column;
        padding: 0 2.6%;
    }
    .header__decor-text {
        display: block;
        top: 12%;
    }
}
@media all and (max-width: 1195px) {
    .header {
        padding-top: 15px;
        padding-left: 15px;
    }
    .header__logo-and-nav,
    .header__content {
        margin: 0;
    }
    .header__nav {
        margin-left: 140px;
    }
    .header__aside {
        padding: 0 3%
    }
    .header__decor-text {
        top: 14.2%;
    }
}
@media all and (max-width: 1103px) {
    .header__image {
        width: 828px;
    }
    .header__decor-text {
        top: 15.3%;
    }
}
@media all and (max-width: 1024px) {
    .header__image {
        width: 832px;
    }
    .header__aside {
        display: none;
    }
}
@media all and (max-width: 1011px) {
    .header {
        padding-bottom: 52.5px;
    }
    .header__image {
        width: 819px;
    }
}
@media all and (max-width: 924px) {
    .header {
        padding-left: 15px;
        padding-top: 15px;
    }
    .header__logo-and-nav {
        padding: 0 0 15px 0;
        margin: 0;
    }
    .header__logo {
        display: none;
    }
    .header__nav {
        margin: 0;
        position: relative;
    }
    .header__nav-label {
        display: block;
    }
    .header__nav-burger:hover .header__nav-burger-layer:last-child {
        background-color: rgba(255, 0, 0, 0.81);
        transition: all ease 0.5s;
    }
    .header__nav-menu {
        width: 135px;
        position: absolute;
        left: 0;
        top: 27px;
        margin-left: -180px;
        flex-direction: column;
        transition: all ease 0.5s;
        background: rgba(250, 250, 250, 0.6);
        box-shadow: 8px 8px 18px 0 rgba(122, 122, 122, 0.4);
        border-bottom-right-radius: 5px;
        z-index: 2;
    }
    .header__nav-menu-item {
        padding: 15px 0;
        padding-left: 10px;
        border-bottom: 1px solid #f5f5f5;
    }
    .header__nav-menu-item:last-child {
        border-bottom: none;
    }
    #header-burger:checked ~ .header__nav-menu {
        margin: 0;
    }
    .header__nav-menu-item,
    .header__word_blue {
        font-size: 8px;
        letter-spacing: 5px;
    }
    .header__content {
        margin: 0;
    }
    .header__text {
        top: 35.5%
    }
    .header__title {
        padding-top: 14px;
        font-size: 56px;
    }
    .header__qoute {
        font-size: 14px;
        color: #676767
    }
    .header__slider {
        display: none;
    }
    .header__image {
        width: 100%;
        box-shadow: 0 8px 35px 0 rgba(11, 12, 17, 0.2);
    }
    .header__aside {
        display: flex;
        padding: 0 1.5%;
        flex-direction: column-reverse;
    }
    .header-social-link + .header-social-link {
        margin-top: 22px;
    }
    .header__decor-text {
        display: none;
    }
}
@media all and (max-width: 887px) {
    .header {
        padding-right: 15px;
    }
    .header__title {
        font-size: 54px;
    }
    .header__qoute {
        font-size: 13px;
    }
    .header__aside {
        display: none;
    }
}
@media all and (max-width: 829px) {
    .header {
        padding-bottom: 42px;
    }
    .header__nav-menu-item {
        padding: 12px 0 12px 10px;
    }
    .header__title {
        padding-top: 12px;
    }
}
@media all and (max-width: 808px) {
    .header__title {
        padding-top: 8px;
        padding-bottom: 12px;
        font-size: 50px;
    }
}
@media all and (max-width: 709px) {
    .header {
        padding-bottom: 32px;
    }
    .header__text {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .header__word_blue {
        font-size: 9px;
        color: #ffffff;
    }
    .header__title {
        font-size: 54px;
        padding: 15px 0;
    }
    .header__qoute {
        margin: 0 auto;
        font-size: 14px;
    }
}
@media all and (max-width: 609px) {
    .header__word_blue {
        font-size: 8px;
    }
    .header__title {
        font-size: 50px;
    }
    .header__qoute {
        font-family: "Poppins-Regular", sans-serif;
        font-size: 12px;
        color: #5d5d5d
    }
}
@media all and (max-width: 599px) {
    .header {
        padding-bottom: 25px;
    }
}
@media all and (max-width: 570px) {
    .header__title {
        padding: 6px 0;
    }
}
@media all and (max-width: 560px) {
    .header__nav-menu {
        margin-left: -440px;
        width: 398px;
        flex-direction: row;
        background: none;
        box-shadow: 0 5px 15px 0 rgba(245, 245, 245, 0.2);
        border-radius: 0;
    }
    .header__nav-menu-item {
        padding-right: 5px;
        border: none;
        border-right: 1px solid #f5f5f5;
        color: #f5f5f5;
        font-size: 6.5px;
    }
    .header__nav-menu-item:last-child {
        border:none;
    }
    .header__text {
        width: auto;
        left: 0;
        top: 35%;
        transform: none;
        text-align: start;
    }
    .header__word_blue {
        font-size: 6px;
        color: #5da8ef;
    }
    .header__title {
        font-size: 38px;
    }
    .header__qoute {
        font-size: 12px;
    }
}
@media all and (max-width: 555px) {
    .header__title {
        font-size: 35px;
    }
    .header__qoute {
        display: none;
    }
}
@media all and (max-width: 505px) {
    .header__title {
        font-size: 32px;
    }
}
@media all and (max-width: 470px) {
    .header__title {
        font-size: 30px;
    }
}
@media all and (max-width: 440px) {
    .header__title {
        font-size: 28px;
    }
}
@media all and (max-width: 460px) {
    .header {
        padding-bottom: 20px;
    }
}
@media all and (max-width: 420px) {
    .header__text {
        top: 37.5%;
    }
    .header__title {
        padding: 0;
        font-size: 25px;
    }
}
@media all and (max-width: 375px) {
    .header {
        padding-bottom: 15px;
    }
    .header__text {
        top: 36%;
    }
}
/*------------------------------------------------------ HEADER ------------------------------------------------------*/

/*------------------------------------------------------ QUOTE -------------------------------------------------------*/
@media all and (max-width: 1285px) {
    .quote {
        padding-top: 72.5px;
    }
}
@media all and (max-width: 1011px) {
    .quote {
        padding-top: 52.5px;
    }
}
@media all and (max-width: 829px) {
    .quote {
        padding-top: 42px;
    }
    .quote__text {
        font-size: 24px;
    }
}
@media all and (max-width: 709px) {
    .quote {
        padding-top: 32px;
    }
    .quote__text {
        font-size: 22px;
    }
    .quote__author {
        font-size: 8px;
    }
}
@media all and (max-width: 641px) {
    .quote__text {
        width: 560px;
        font-size: 20px;
    }
}
@media all and (max-width: 599px) {
    .quote {
        padding-top: 25px;
        padding-bottom: 143px;
    }
    .quote__text {
        width: 500px;
        padding-bottom: 24px;
        font-size: 18px;
    }
    .quote__author {
        letter-spacing: 4.9px;
    }
    .quote__author::after {
        top: 138%
    }
}
@media all and (max-width: 540px) {
    .quote__text {
        width: 450px;
        font-size: 17px;
    }
    .quote__author {
        font-size: 7px;
    }
}
@media all and (max-width: 472px) {
    .quote {
        padding-bottom: 129px;
    }
    .quote__text {
        width: 415px;
    }
    .quote__author::after {
        top: 125%;
    }
}
@media all and (max-width: 460px) {
    .quote {
        padding-top: 20px;
        padding-bottom: 107px;
    }
    .quote__text {
        width: 385px;
        font-size: 15px;
        line-height: 34px;
        padding-bottom: 20px;
    }
    .quote__author::after {
        height: 80px;
    }
}
@media all and (max-width: 429px) {
    .quote__text {
        width: 350px;
        font-size: 14px;
    }
}
@media all and (max-width: 375px) {
    .quote {
        padding-top: 15px;
    }
    .quote__text {
        width: 315px;
        font-size: 12px;
        line-height: 30px;
    }
    .quote__author {
        letter-spacing: 4.5px;
    }
}
/*------------------------------------------------------ QUOTE -------------------------------------------------------*/

/*------------------------------------------------- ARTICLE & VIDEO --------------------------------------------------*/

@media all and (max-width: 1255px) {
    .article-and-video__text,
    .article-and-video__button {
        margin-left: 4%;
    }
    .article-and-video__video {
        left: 35.6%;
    }
}
@media all and (max-width: 1201px) {
    .article-and-video__video {
        width: 610px;
        left: 36.5%;;
    }
}
@media all and (max-width: 1159px) {
    .article-and-video__text,
    .article-and-video__button {
        margin-left: 0;
    }
}
@media all and (max-width: 1067px) {
    .article-and-video {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article-and-video__content {
        margin-left: 0;
        display: flex;
        flex-direction: row;
    }
    .article-and-video__article,
    .article-and-video__video {
        width: 50%;
    }
    .article-and-video__article {
        margin-right: 7.5px;
    }
    .article-and-video__video {
        position: static;
        margin-left: 7.5px;
        height: 437px;
    }
    .article-and-video__text {
        width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 999px) {
    .article-and-video__video {
        height: 437px;
    }
    .article-and-video__text {
        font-size: 13px;
    }
}
@media all and (max-width: 920px) {
    .article-and-video__video {
        height: 392px;
    }
}
@media all and (max-width: 827px) {
    .article-and-video__content {
        flex-direction: column;
    }
    .article-and-video__article,
    .article-and-video__video {
        width: 100%;
        margin: 0;
    }
    .article-and-video__article {
        order: 2;
    }
    .article-and-video__video {
        height: 481.05px;
        margin-bottom: 50px;
        order: 1;
    }
}
@media all and (max-width: 709px) {
    .article-and-video__text {
        padding-top: 32px;
        padding-bottom: 26px;
    }
    .article-and-video__video {
        height: 409px;
    }
}
@media all and (max-width: 688px) {
    .article-and-video {
        padding-top: 40px;
    }
    .article-and-video__text {
        padding-top: 28px;
        padding-bottom: 22px;
    }
    .article-and-video__video {
        height: 397px;
        margin-bottom: 40px;
    }
}
@media all and (max-width: 541px) {

    .article-and-video__video {
        height: 308px;
        margin-bottom: 20px;
    }
    .article-and-video__article {
        display: block;
    }
}
@media all and (max-width: 472px) {
    .article-and-video {
        padding-top: 25px;
    }
    .article-and-video__text {
        width: 100%;
        font-size: 12px;
    }
    .article-and-video__button {
        font-size: 8px;
    }
    .article-and-video__video {
        height: 266px;
    }
}
@media all and (max-width: 392px) {
    .article-and-video__video {
        height: 218px;
    }
}
@media all and (max-width: 375px) {
    .article-and-video__video {
        height: 208px;
    }
}
/*------------------------------------------------- ARTICLE & VIDEO --------------------------------------------------*/