section.surfboards-shop
    span.surfboards-shop__word_blue Shop
    h2.surfboards-shop__title Surfboards
    div.surfboards-shop__content
        div.surfboards-shop__shop-item
            div.surfboards-shop__shop-item-photo.surfboards-shop__board-chilli
                img(src='images/04-surfboards_shop/board-chilli.png')
            div.surfboards-shop__shop-item-specs
                h3.surfboards-shop__shop-item-title Funboards
                p.surfboards-shop__shop-item-name Chilli Rare Bird
                p.surfboards-shop__shop-item-price $ 890
                button.surfboards-shop__shop-item-button Buy
        div.surfboards-shop__shop-item
            div.surfboards-shop__shop-item-photo.surfboards-shop__board-emery
                img(src='images/04-surfboards_shop/board-emery.png')
            div.surfboards-shop__shop-item-specs
                h3.surfboards-shop__shop-item-title Funboards
                p.surfboards-shop__shop-item-name Emery NEM XF
                p.surfboards-shop__shop-item-price $ 950
                button.surfboards-shop__shop-item-button Buy
        div.surfboards-shop__shop-item
            div.surfboards-shop__shop-item-photo
                img(src='images/04-surfboards_shop/board-agency.png')
            div.surfboards-shop__shop-item-specs
                h3.surfboards-shop__shop-item-title Funboards
                p.surfboards-shop__shop-item-name Agency GROM
                p.surfboards-shop__shop-item-price $ 670
                button.surfboards-shop__shop-item-button Buy
    button.surfboards-shop__button-show-all Show al
        |
        span l