section.articles
    div.articles__content
        article.articles__surf-training
            div.articles__surf-training-text
                span.articles__article-number.articles__surf-training-number 01
                h2.article__titles.surf-training-title
                    |
                    span.articles__first-title-letter S
                    | urf Training
                p.articles__article-summary.articles__surf-training-summary.
                    By better understanding the various aspects of surfing, By better understanding the various aspects of
                    surfing, you will improve faster and have more fun in the water.
                button.articles__button.articles__surf-training-button Read mor
                    |
                    span.articles__last-button-letter e
            div.articles__surf-training-image
                img(src='images/articles/surfer-2.jpg')
        article.articles__point-break
            div.articles__point-break-text
                span.articles__article-number.articles__point-break-number 02
                h2.article__titles.point-break-title
                    |
                    span.articles__first-title-letter P
                    | oint Break
                p.articles__article-summary.articles__point-break-summary.
                    By better understanding the various aspects of By better understanding the various aspects of surfing,
                    By better understanding the various aspects of surfing, you will improve faster and have more
                    fun in the water.
                button.articles__button.articles__point-break-button Read mor
                    |
                    span.articles__last-button-letter e
            div.articles__point-break-image
                img(src='images/articles/beach.jpg')