section
    article.surf-training
        div.surf-training__text-area
            p.text-area__article-number 01
            h2.text-area__title Surf training
            p.text-area__article-text.
                By better understanding the various aspects of surfing, By better understanding the various aspects of
                surfing, you will improve faster and have more fun in the water.
            button.text-area__btn Read more
        div.surf-training__image-area
            div.surf-training__image
                img(src="images/articles/surfer-2.jpg")
            p Surf camps
    article.point-break
        div.point-break__text-area
            p.text-area__article-number 02
            h2.text-area__title Point Break
            p.text-area__article-text.
                By better understanding the various aspects of By better understanding the various aspects of surfing,
                By better understanding the various aspects of surfing, you will improve faster and have more fun in
                the water.
            button.text-area__btn Read more
        div.point-break__image-area
            div.point-break__image
                img(src='images/articles/beach.jpg')
            p Surf camps