.surfboards-shop {
  padding-top: 114px;
  padding-bottom: 86px;
  background: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.97) 0px, rgba(255, 255, 255, 0.97) 107px, #f5f5f5 107px, #f5f5f5 108px, rgba(255, 255, 255, 0.97) 108px, rgba(255, 255, 255, 0.97) 305px), url("../../../images/backgounds/ocean-bg.jpg") no-repeat;
  background-position-y: -316px; }

.surfboards-shop__content {
  margin-left: 107px;
  margin-bottom: 82px;
  display: flex;
  align-items: flex-end; }

.surfboards-shop__word_blue {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 44px;
  color: #5da8ef; }

.surfboards-shop__title,
.surfboards-shop__shop-item-name {
  color: #333333; }

.surfboards-shop__title {
  margin: 0 auto;
  margin-bottom: 52px;
  width: 218px;
  font-family: "Playfair Display-Bold",sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.42px; }

.surfboards-shop__shop-item {
  display: flex;
  align-items: center; }

.surfboards-shop__board-chilli {
  padding: 11px 0; }

.surfboards-shop__board-emery {
  padding: 9.6px 0; }

.surfboards-shop__shop-item-name {
  margin-bottom: 30px;
  font-family: "Playfair Display-Regular",sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.26px;
  white-space: nowrap; }

.surfboards-shop__shop-item-title,
.surfboards-shop__shop-item-price {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #7a7a7a; }

.surfboards-shop__shop-item-price {
  margin-bottom: 3px;
  margin-left: 55px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  color: #ce60a8; }

.surfboards-shop__shop-item-button {
  width: 30px;
  display: block;
  padding-bottom: 8px;
  margin-left: 57px; }

.surfboards-shop__shop-item-photo {
  width: 250px;
  margin-top: -85px;
  background: linear-gradient(to bottom, transparent 0%, transparent 39%, #ebebeb 39%, #ebebeb 100%); }

.surfboards-shop__shop-item-specs {
  position: relative;
  left: -33px;
  top: 33px; }

.surfboards-shop__shop-item-title {
  margin-bottom: 3px; }

.surfboards-shop__button-show-all {
  display: block;
  width: 89px;
  margin: 0 auto;
  padding-bottom: 8px;
  border-bottom: 2px solid #5da8ef; }

.surfboards-shop__button-show-all span {
  letter-spacing: 0; }

.surfboards-shop__word_blue,
.surfboards-shop__shop-item-button,
.surfboards-shop__button-show-all {
  font-family: "League Spartan-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #333333; }
