section.quote
    div.quote__content
        q.quote__text.
            Surfing is the most blissful experience you can have on this planet, a taste of heaven.
        span.quote__author John McCarthy