header,
section,
footer {
    max-width: 1440px;
    margin: 0 auto;
    background-image: repeating-linear-gradient(to right, #fff 0px, #fff 107px, #f5f5f5 107px, #f5f5f5 108px,
    #fff 108px, #fff 305px);
}