header.header
    div.header__logo-and-nav
        a(href='#').header__logo
            img(src='images/logo.png')
        nav.header__nav
            a(href='#').header__nav-item Stories
            a(href='#').header__nav-item Events
            a(href='#').header__nav-item Places
            a(href='#').header__nav-item Boards
        input(type='checkbox' id='header-burger').header__nav-checkbox
        label(for='header-burger').header__nav-label
            div.header__nav-burger
                div.header__nav-burger-layer
                div.header__nav-burger-layer
                div.header__nav-burger-layer
    div.header__content
        div.header__text
            span.header__word_blue Your
            h2.header-title Beautiful Escape
            p.header__qoute One of the greatest things about the sport of surfing is that you need only three things: your body,
                br
                | a surfboard, and a wave.
        div.header__slider
            span.header__slider-first-num 1
            span.header__slider-slash /
            | 5
        div.header__image
            img(src='images/01-header/header-img.jpg')
        div.header__aside
            p.header__decor-text First surfing magazine
            div.header__socials
                a(href='#').header-social-link.social-tumblr
                    img(src='images/icons/tumblr.png')
                a(href='#').header-social-link.social-twitter
                    img(src='images/icons/twitter.png')
                a(href='#').header-social-link.social-vimeo
                    img(src='images/icons/vimeo.png')