.contacts {
  padding-top: 74px;
  padding-bottom: 49px;
  background: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.95) 0px, rgba(255, 255, 255, 0.95) 107px, #f5f5f5 107px, #f5f5f5 108px, rgba(255, 255, 255, 0.95) 108px, rgba(255, 255, 255, 0.95) 305px), url("../../../images/backgounds/surfer-bg.jpg") no-repeat;
  background-position-y: 112.7%; }

.contacts__content {
  display: flex;
  align-items: center; }

.contacts__image {
  width: 716px; }

.contacts__camp-address {
  margin-left: 2.91%; }

.contacts__text {
  width: 342px;
  margin-left: 13.5%;
  padding-top: 45px;
  padding-bottom: 60px;
  font-family: "Playfair Display-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.32px;
  color: #333333; }

.contacts__hat,
.contacts__button {
  font-family: "League Spartan-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase; }

.contacts__hat {
  letter-spacing: 5.58px;
  color: #bcbdbe; }

.contacts__button {
  display: block;
  width: 126px;
  padding-bottom: 10px;
  letter-spacing: 5.4px;
  color: #5da8ef;
  border-bottom: 2px solid #5da8ef; }

.contacts__button-last-letter {
  letter-spacing: 0; }
